.body1
{
   padding-right: 42.697px;
   padding-left: 42.697px;
   background: #F7F7F9;
}

{
}
.container-fluid
{    height: 70px;
   background: #F7F7F9;
   position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border-color: #F7F7F9;

}
.heading
{
   position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    height: 80%;
    color: #1a488e;
    font-weight: 400;
    vertical-align: top;
    z-index: 1;
    margin-right: 1.05vw;
    padding: 0 0.55vw;
}
a:hover {
  color: #1a488e;
}

.support
{  margin-top: 22px;
   float: right;
   margin-right: 80px;
}
.container
{  width: 1370px;
   margin: 30.683px 0px 0 5px; 
}

.col-sm-6
{  
   height: 450px;
   box-sizing: border-box;
   position: relative!important;
   border: black;
  background-color:#fff;
  margin-left: 11.924px;
    box-shadow: 10px 8px 16px #1a488e14;
   width: 30%;
   border-radius: 7px;

}
#right
{
   width: 930px;
}

.fixed_deposit
{
   font-size: 1.052em!important;
    letter-spacing: .01em;
     color: #1a488e99;
     margin:25px 0px 0px 10px ;
}
.amount
{
    color: grey;
   margin: 20px 0px 0px 10px;
   
   font-size: 14px;
}
.dropdown
{
    box-shadow: 10px 8px 16px #1a488e14;

}
#cars
{
   width: 80px;
   height: 30px;
   margin: 20px 0px 0px 10px;
   border-color: white;
}
.fill
{  margin: -50px 0px 0px 90px;
   float: left;
}
.percent
{   margin-top: 10px;
   margin-left: 170px;
}
.col-sm-3
{
   width: 50px;
   text-align: right;
   box-shadow: 10px 8px 16px #1a488e14;
   float: right;
   color: grey;
   height: 25px;
}
.term
{
   color: slategrey;
   margin: 80px 0px 0px 20px;
   font-size: 20px;
}
.days
{
   margin: 10px 0px 0px 0px;
   font-size: 20px;
   color: #3c81a3;
}
.auto
{
      color: slategrey;
   margin: -48px 0px 0px 120px;
   font-size: 13px;

}
.switch_box
{
   margin: -20px 0px 0px 0px;
   border-radius: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 13px;
  margin: -30px 0px 20px 200px ;
    box-shadow: 10px 8px 16px #1a488e14;
    border-radius: 20px;


}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
     border-radius: 3px;

    box-shadow: 10px 8px 16px #1a488e14;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: whitesmoke;
  -webkit-transition: .4s;
  transition: .4s;

    box-shadow: 10px 8px 16px #1a488e14;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.interest
{

   margin: 30px 0px 0px -10px;
   font-size: 17px;
   color: #3c81a3;
   text-align: center;
}
.payout
{
   text-align: center;
   font-size: 13px;
   margin: 30px 0px 0px -12px;
}
.four
{
font-size: 13px;
text-align: center;
margin: 10px 0px 0px -12px;
color: lightgrey;


}
.foot1
{
   
   margin: 10px 0px 0px 0px;
   text-align: center;
   padding:0px 0px 2px 0px;
   font-size: 15px;
    cursor: pointer;
   position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    z-index: 2;
   font-family: Karla,sans-serif;
    font-weight: 700;
    padding: 8px 14px;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: .063em;
    height: 6vh;
    border-radius: 4px;
    background-color: #4891ff;
    color: #fff;
    box-shadow: 
}
.col-sm-2
{
   font-size: 13px;
text-align: center;
margin: 10px 0px 0px -12px;
color: lightgrey;
width: 150px;
margin: 20px 0px 0px -10px;
}
.bg_image
{
   margin:100px 0px 0px 400px;
}
.caption
{
   text-align: center;
   color: grey;
   margin: 20px 0px 0px 0px;
}
.bottomheading
{
   font-size: 1.052em!important;
       color: #1a488e99;
       margin-left: 10px
}
#bottom
{  margin:50px 0px 0px 0px ;
   background-color:#fff;
     margin-left: 11.924px;
      border-radius: 10px;
    box-shadow: 10px 8px 16px #1a488e14;
    height: 95px;
    width: 1327px;


}
.headbottom
{
   font-size: 15px;
   width: 105px;
   margin:0px 0px 0px 10px;
}

