.body1
{
   padding-right: 42.697px;
   padding-left: 42.697px;
   background: #F7F7F9;
}

{
}
.container-fluid
{    height: 70px;
   background: #F7F7F9;
   position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border-color: #F7F7F9;

}
.heading
{
   position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    height: 80%;
    color: #1a488e;
    font-weight: 400;
    vertical-align: top;
    z-index: 1;
    margin-right: 1.05vw;
    padding: 0 0.55vw;
}
a:hover {
  color: #1a488e;
}

.support
{  margin-top: 22px;
   float: right;
   margin-right: 80px;
}
.container
{  width: 1370px;
   margin: 30.683px 0px 0 5px; 
      

}
.col-sm-4
{  
   height: 450px;
   box-sizing: border-box;
   position: relative!important;
   border: black;
  background-color:#fff;
  margin-left: 11.924px;
    box-shadow: 10px 8px 16px #1a488e14;


}
#first
{
   width: 500px;
}
#second
{
   width: 400px;
}
#third
{
   width: 400px;
}


.funds
{
   font-size: 1.052em!important;
       color: #1a488e99;
       margin-left: 10px;
}
.zero
{
 color: #3c81a3
 text-align: center;
 font-size: 25px;
 font-weight: bold;
height: 10px;
margin: 50px 10px 10px 90px;
   color: #3c81a3;



}
.zero_letter
{
   color: #1a488e99;
   margin: 0px 0px 0px 60px;
   text-align: center;

}

.carousel {
    position: relative;
    margin: 60px 0px 0px 0px;
    height: 0px;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    background-color: none;
    }


.col-sm-6
{    display: inline-flex;
  
   text-align: center;



}
#cost
{
    margin: 30px 0px 0px 0px;
}
.col-sm-3
{    position: relative;
    flex-direction: column;
   display: inline-flex;   /*to remove dot*/
   justify-content: center;
   cursor: pointer;
   height: 80%;
   font-weight: 400;
   vertical-align: top;
   z-index: 2;
   width: 100px;
   padding-left: 5px;
   box-shadow: 10px 8px 6px #1a488e14;
   margin: 50px 0px 0px 15px;
   background: #F7FAFC;


}
#inr
{   margin: 60px 0px 0px 0px;
   font-size: 20px;
   text-align: center;
}
.caption1
{  margin: 10px 0px 0px 0px;
   text-align: center;
}
.foot1
{
   
   margin: 10px 0px 0px 0px;
   text-align: center;
   padding:0px 0px 2px 0px;
   font-size: 15px;
    cursor: pointer;
   position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    z-index: 2;
   font-family: Karla,sans-serif;
    font-weight: 700;
    padding: 8px 14px;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: .063em;
    height: 6vh;
    border-radius: 4px;
    background-color: #4891ff;
    color: #fff;
    box-shadow: 
}
.vauld
{
   font-size: 1.082em!important;
       color: #1a488e99;
       margin-left: 10px;
}
.caption2
{
   text-align: center;
   font-size: 17px;
   color: dimgrey;
   margin: 50px 0px 0px 45px;
   width: 250px;
}
.image
{
   margin: 0px 0px 0px 40px;
}
#cost2
{ margin: 10px 0px 0px 0px;
   width: 92px;
   text-align: center;
   box-shadow: 15px 15px 16px #1a488e14;
   border-radius: 10px;
   color:dimgrey;
}
#tablehead1
{
   font-size: 13px;
   float: left;
   width: 110px;
   color: #C5CACF;
   height: 20px;
   text-align: left;
 }
#tablehead2
{
   font-size: 13px;
   float: left;
   width: 110px;
   color: #C5CACF;
   height: 20px;
   text-align: right;
}
#tablehead3
{
   font-size: 13px;
   float: left;
   width: 110px;
   color: #C5CACF;
   height: 20px;
   text-align: right;
}
#rowvalue1
{
   font-size: 17px;
   float: left;
   width: 120px;
   color: #B0B4B7;
   height: 30px;
       margin:10px 0px 0px 0px;
   text-align: left;
}
#rowvalue2
{
   font-size: 15px;
   float: left;
   width: 120px;
   color: #B0B4B7;
   height: 30px;
     
   margin:10px 0px 0px 0px;
   text-align: right;
}#rowvalue3
{
   font-size: 15px;
   float: left;
   width: 120px;
   color: #E7983E;
   height: 30px;

   margin:10px 0px 0px 0px;
   text-align: right;
}
.bottomheading
{
   font-size: 1.052em!important;
       color: #1a488e99;
       margin-left: 10px
}
#bottom
{  margin:16px 0px 0px 0px ;
   background-color:#fff;
     margin-left: 11.924px;
      border-radius: 10px;
    box-shadow: 10px 8px 16px #1a488e14;
    height: 95px;
    width: 1327px;


}
.headbottom
{
   font-size: 15px;
   width: 105px;
   margin:0px 0px 0px 10px;
}
